<!DOCTYPE HTML>
<html>
        {% extends "base.html" %}
        {% block content %}
            <h2> {{post.title}} ({{post.likes}})</h2>
            <p>Tags: {% for tag in post.tag_set.all %} 
                #{{tag.hashtag}} 
            {% empty %} нет тегов
            {% endfor %} </p>
            <p> {{post.created_at}} </p>
            <p> Author: {{post.blog.author.get_username}} </p>
            <p> {{post.content}} <p>

            <br>

            <h2> Comments </h2>

            {% for comment in post.comment_set.all %}
                <p> {{comment.text}} </p>
                <p> created at: {{comment.created_at}}</p>
                <p> commented by: {{comment.author.get_username}} </p> 
                <br>
            {% empty %} Нет комментариев
            {% endfor %}

        {% endblock %}
</html>
