<!DOCTYPE HTML>

{% extends "base.html" %}

{% block title %}Список постов{% endblock %}

{% block content %}
    {% for post in object_list %}
        <div>
            <div>
                    <h2><a href="{{post.get_absolute_url}}">
                                    {{ post.title }}</a>  ({{post.likes}})
                     </h2>
            </div>
            <p>created at: {{post.created_at}} </p>

            <div>{{ post.text }}</div>
            <br>

        </div>
        {% empty %}
        <p> Нет постов </p>
    {% endfor %}
{% endblock %}
